@font-face {
    font-family: 'barryone';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("barryOne.woff2") format('woff2');
}

// Some base styling before anything else
html, body {
    margin: 0;
    background: #1a1a1a; // So my eyes don't bleed
    font-family: 'Lato', serif; /* 1 */
	-ms-text-size-adjust: 100%; /* 2 */
	-webkit-text-size-adjust: 100%; /* 2 */
    overflow: hidden;
}

* {
    &::selection {
        background: transparent
    }
}

// Make all texts unselectable
p {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

@import "tools/spaces";
@import "base/variables";
@import "layout/container";
@import "components/images";
@import "components/card";
